@keyframes slide-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.pokemon-index {
  display: flex;
  flex-wrap: wrap;
  gap: $page-margin;

  height: 100%;
  overflow: auto;
  padding: 0 $page-margin $page-margin;

  &.has-sidebar {
    padding-right: $page-margin / 2;
  }
}

.sidebar-content {
  height: 100%;
  position: relative;
  width: $card-width;

  .card-wrapper {
    position: absolute;
    animation: slide-up 0.5s;
    bottom: 0;
  }
}
